body{
    background-color: #f9f7fe;
    font-family: sans-serif;
    
}


.weather-project{
    background-color: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;

}   
